<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dai+Banna+SIL:ital,wght@1,500&display=swap" rel="stylesheet">
    <title>Workplace Manager</title>
</head>

<body>
    <nav class="container-fluid" id="navbar">
        <div class="row align-items-center justify-content-between">
            <a class="col-6 text-start display-3" id="name" href="/">Workplace Manager</a>
            {{#if logged_in}}
            <div class="col-6 row justify-content-end" id="navBarBtns">
                <a class="col-md-auto navBtn" href="/reports" id="reportsBtn">Reports</a>
                <a class="col-md-auto navBtn" href="/chores" id="toDoBtn">To-Do</a>
                {{#if is_manager}}
                <a class="col-md-auto navBtn" href="/users" id="usersBtn">Users</a>
                {{/if}}
                {{!-- <a class="col-md-auto navBtn" href="/schedules" id="schedulesBtn">Schedules</a> --}}
                <a class="col-md-auto navBtn" href="/departments" id="departmentsBtn">Departments</a>
            </div>
            {{else}}
            <a class="col text-end navBtn" id="loginNavBtn" href="/login">Login</a>
            {{/if}}
        </div>
    </nav>

    {{{body}}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>