<form id="departmentForm" class="form mb-4 mx-2">
        <div class=" mb-4 mx-2">
            <label class="form-label text-white" for="newdepName">Add Department:</label>
            <input type="text" name="departmentName" class="form-control" id="newdepName">
        </div>
        <div class="mb-4 mx-2">
            <label class="form-label text-white" for="depManager" >Assigned to:</label>
            <select id="depManager" class="form-select" name="manager" aria-label="Default select example">
                <option selected>Choose Manager</option>
                {{#each users as |user|}}
                    <option value="{{user.id}}">{{user.first_name}}{{user.last_name}}</option>
                {{/each}}
            </select>
            <button type="submit" class="btn btn-secondary mt-3" id="addDepBtn">Submit</button>
        </div>
</form>
<script src="../js/addDep.js"></script>