<div class="container align-items-center">
    <form class="cusForm">
        <div class="row inpRow">
            <label class="col-2 text-center" for="repTitle">Title:</label>
            <div class="col-10 d-flex d-flex justify-content-start align-items-center">
                <input type="text" class="textbox2" id="repTitle">
            </div>
        </div>

        <div class="row inpRow">
            <label class="col-2 text-center" for="repContent">Content:</label>
            <div class="col-10 d-flex d-flex justify-content-start align-items-center">
                <input type="text" class="textbox2" id="repContent">
            </div>
        </div>
        <div class="pb-1">
            <button class="btn customBtn" id="addRepBtn" type="submit">Submit Report</button>
        </div>
    </form>
</div>
<script src="./js/addRep.js"></script>