<div class="container text-center" id="home">
    {{#if logged_in}}
    <h1>Welcome back</h1>
    {{!-- add to-do info here? --}}
    {{else}}
    <h1>Welcome</h1>
    <p>we do stuff and things</p>
    {{/if}}
    {{!-- if logged in false --}}
</div>